goddd:
    image: marcusolsson/goddd
    ports:
        - 8080:8080
    environment:
        ROUTINGSERVICE_URL: http://pathfinder:8080
        MONGODB_URL: mongodb
    links:
        - pathfinder
        - mongodb

pathfinder:
    image: marcusolsson/pathfinder

mongodb:
    image: mongo
    ports:
        - 27017:27017
