<!DOCTYPE html>
<html ng-app="trackApp">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <title>Track your cargo</title>

    <script src="scripts/jquery-2.1.1.min.js"></script>
    <script src="scripts/angular.min.js"></script>
    <script src="scripts/angular-resource.min.js"></script>
    <script src="scripts/controllers.js"></script>

    <!-- Bootstrap -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

    <link href='http://fonts.googleapis.com/css?family=Indie+Flower' rel='stylesheet' type='text/css'>
  </head>
  <body ng-controller="TrackCtrl">
    <div class="container">

      <!-- Header -->
      <div class="page-header text-center">
	<h1 style="font-family: 'Indie Flower', cursive;">Domain Driven Delivery <small>We're ubiquitous!</small></h1>
      </div>

      <!-- Search field -->
      <form role="form">
	<div class="form-group">
	  <div class="input-group">
	    <input type="text" class="form-control input-lg" placeholder="Enter your tracking id" ng-model="searchQuery" ng-minlength=1>
	    <span class="input-group-btn">
              <button class="btn btn-default btn-lg" type="submit" ng-click="showCargo(searchQuery)" >Track!</button>
	    </span>
	  </div>
	  <span class="help-block">Hint: try tracking "ABC123" or "JKL567".</span>
	</div>
      </form>

      <!-- Cargo information -->
      <div ng-show="cargo">
	<div style="margin: 40px 0">
	  <h4>Cargo {{ cargo.trackingId }} is now: {{ cargo.statusText}}</h4>
	  <p>Estimated time of arrival in {{ cargo.destination }}: {{ cargo.eta }}</p>
	  <p>{{ cargo.nextExpectedActivity }}</p>
	</div>
	<div>
	  <h5 class="text-uppercase">Handling history</h5>
	  <ul class="list-group">
	    <li class="list-group-item" ng-repeat="leg in cargo.events">
	      <span class="glyphicon" ng-class="leg.expected ? 'glyphicon-ok' : 'glyphicon-exclamation-sign'"></span>&nbsp;&nbsp;{{ leg.description }}
	    </li>
	  </ul>
	</div>
      </div>

      <!-- Footer -->
      <div class="text-center">
      </div>
    </div>
  </body>
</html>
