<!DOCTYPE html>
<html ng-app="trackApp">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <title>Cargo Administration</title>

    <script src="scripts/jquery-2.1.1.min.js"></script>
    <script src="scripts/angular.min.js"></script>
    <script src="scripts/angular-resource.min.js"></script>
    <script src="scripts/controllers.js"></script>

    <!-- Bootstrap -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

    <!-- bootstrap-datepicker -->
    <script src="scripts/bootstrap-datepicker.js"></script>
    <script>
     $(document).ready(function () {
       $('#something').datepicker({});
     });
    </script>

    <link rel="stylesheet" href="styles/datepicker3.css">
    <!-- Make datepicker to sit on top. -->
    <style>
      .datepicker{z-index:1151 !important;}
    </style>

  </head>
  <body ng-controller="ListCtrl">
    <div class="container-fluid">

      <!-- Header -->
      <div class="page-header clearfix">
	<div class="pull-right"><h2>Domain Driven Delivery <small>We're ubiquitous!</small></h2></div>
	<h1>Cargo Booking and Routing</h1>
      </div>

      <!-- List all cargos -->
      <div class="panel panel-default">
	<div class="panel-heading"><h4>All cargos</h4></div>
	<table class="table">
	  <tr>
	    <th>Tracking ID</th>
	    <th>Origin</th>
	    <th>Destination</th>
	    <th>Routed</th>
	  </tr>
	  <tr ng-repeat="c in cargos">
	    <td><a href="details.html">{{ c.trackingId }}</a></td>
	    <td>{{ c.origin }}</td>
	    <td>{{ c.destination }}</td>
	    <td>Yes</td>
	  </tr>
	</table>
      </div>

      <!-- Book new cargo button (opens up dialog) -->
      <button class="btn btn-primary" data-toggle="modal" data-target="#bookCargoDialog">
	Book new cargo
      </button>

      <!-- Book new cargo dialog -->
      <div class="modal fade" ng-controller="BookCargoCtrl" id="bookCargoDialog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
	  <div class="modal-content">
	    <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">
		<span aria-hidden="true">&times;</span>
		<span class="sr-only">Close</span>
	      </button>
              <h4 class="modal-title">Book cargo</h4>
	    </div>
	    <div class="modal-body">
	      <form class="form-horizontal" role="form">
		<div class="form-group">
		  <label class="col-sm-4 control-label">Origin</label>
		  <div class="btn-group">
		    <button type="button" data-toggle="dropdown" class="btn btn-default dropdown-toggle">
		      {{ locations[0].locode }} <span class="caret"></span>
		    </button>
		    <ul class="dropdown-menu">
		      <li ng-repeat="l in locations"><a href="#">{{ l.locode }}</a><li>
		    </ul>
		  </div>
		</div>
		<div class="form-group">
		  <label class="col-sm-4 control-label">Destination</label>
		  <div class="btn-group">
		    <button type="button" data-toggle="dropdown" class="btn btn-default dropdown-toggle">
		      {{ locations[0].locode }} <span class="caret"></span>
		    </button>
		    <ul class="dropdown-menu">
		      <li ng-repeat="l in locations"><a href="#">{{ l.locode }}</a><li>
		    </ul>
		  </div>
		</div>
		<div class="form-group">
		  <label class="col-sm-4 control-label">Arrival deadline</label>
		  <div class="input-group date" id="something" style="width: 150px;">
		    <input type="text" class="form-control">
		    <span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
		  </div>
		</div>
	      </form>
	    </div>
	    <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary">Book</button>
	    </div>
	  </div>
	</div>
      </div>

      <!-- Footer -->
      <div class="text-center">
      </div>
    </div>
  </body>
</html>
