[Unit]
Description=DDDSample Service
After=docker.service
Requires=docker.service

[Service]
EnvironmentFile=/etc/environment
ExecStartPre=-/usr/bin/docker kill dddsample-%i
ExecStartPre=-/usr/bin/docker rm dddsample-%i
ExecStartPre=-/usr/bin/docker pull marcusolsson/goddd
ExecStart=/usr/bin/docker run --rm --name dddsample-%i -p %i:8080 -e ROUTINGSERVICE_URL=http://pathfinder.marcusoncode.se marcusolsson/goddd 
ExecStartPost=/usr/bin/etcdctl set /vulcand/backends/dddsample/servers/srv%i '{"URL": "http://${COREOS_PUBLIC_IPV4}:%i"}'
ExecStop=/usr/bin/etcdctl rm /vulcand/backends/dddsample/servers/srv%i
ExecStop=/usr/bin/docker stop dddsample-%i

[X-Fleet]
Conflicts=dddsample@*.service
